<div class="main">
  <h2 style="margin-top: 15px;float: left;">My Innovations</h2>
  <div class="searchbar">
    <mat-form-field appearance="outline" class="searchbar">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="search_text" (ngModelChange)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
      <button mat-button [matMenuTriggerFor]="domain" matTooltip="Filter"><mat-icon aria-hidden="false" aria-label="Example home icon">filter_list</mat-icon></button>
      <button mat-button *ngIf="setRecentFilter" (click)="clearFilters()"><mat-icon>refresh</mat-icon></button>
      
      <br>
      <mat-menu #filter="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="domain">Domain</button>
        <button mat-menu-item (click)="recentFilter()">Recent</button>
      </mat-menu>
      <mat-menu #domain="matMenu" >
        <div *ngFor = "let d of domains">
          <button mat-menu-item (click)="domainFilter(d.name)">{{d.name}}</button>
        </div>
      </mat-menu>
  </div>
  <hr width="100%" color="blue" style="margin-top: -10px;">
  <span fxLayout="row-wrap" *ngIf="wait" style="float: right;">Displaying {{returnLength(allInnovations)}} results out of {{totalInnovationsCount}}</span>
</div> 
<div id="main" *ngIf="wait">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lg="33%" *ngFor="let innovation of allInnovations;let i = index">
          <mat-card class="example-card background primary" style="height: 9cm;" >
              <mat-card-content>
                <div id="image">
                 
                  <h2 id="innovationName">{{ innovation.innovationName }}</h2>
                  
                  <div class="metadata" style="margin-top: 50px;position: absolute;">
                    <span  style="color: rgb(3, 3, 3);padding-top: 10px;"><b>{{innovation.domain}}</b></span><br>
                    <span > Updated {{innovation.dateOfCreation | dateAgo}}</span>  <br>
                    <span>{{ returnLength(innovation.comments)}} comments</span> <br>
                    <span> {{ returnLength(innovation.uploadedFiles) }} files uploaded</span>  <br>
                    <!-- <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" (click)="onClick(i+1)" 
                    [id]="'star_'+i"  matTooltipPosition="above">
                      <mat-icon>
                        {{showIcon(i)}}
                      </mat-icon>
                    </button> -->
                  </div>
                  <div >
                    <img  *ngIf="innovation.coverPhoto.content" mat-card-image mat-card-image src={{innovation.coverPhoto.content}} alt="Innovation cover photo">
                  <img *ngIf="!innovation.coverPhoto.content" style="float: right;width: 130px;margin-right: 0px ;border-radius: 10px;margin-top: 45px;height: 90px;" mat-card-image mat-card-image 
                    src="assets/default_image.jpg" alt="Innovation cover photo">
                  </div>
                  <div style="margin-top: 140px;position: absolute;">
                    <p >
                      {{innovation.innovationDesc}}
                    </p>
                  </div>           
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button routerLink="view/{{innovation.innovationId}}" id="update" matTooltip="Edit"><mat-icon>edit</mat-icon></button>
                <button mat-button id="delete" (click)="delete(innovation,i)" matTooltip="Delete"><mat-icon>delete</mat-icon></button>
                <button mat-button (click)="openDialog(innovation)" matTooltip="View Innovation"><mat-icon>visibility</mat-icon></button>
              </mat-card-actions>
          </mat-card>
      </div>
    </div>
</div>
<div class="pagination" *ngIf="wait">
  <div *ngIf="page < totalPages-1 && returnLength(allInnovations) > 0" id="add-more">
    <button mat-stroked-button color="primary" (click)="addMore()">Show more<mat-icon>expand_more</mat-icon></button>
  </div>
  <div *ngIf="page == totalPages-1" id="folks">
    <!-- <h2>That's all you have</h2> -->
  </div>
  <div *ngIf="returnLength(allInnovations)<1" id="folks">
    <h2>No Innovation found</h2>
  </div>
</div> 
<div *ngIf="!wait">
  <mat-spinner style="margin-left: 47%;margin-top: 10%;" *ngIf="!wait">
  </mat-spinner>
</div>