.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.fill-space {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #081ab6;
  color: #fff;
}
a{
  text-decoration: none;
  color: rgb(245, 240, 240);
}
.mat-toolbar{
  height: 50px;
  /* background-color: rgb(12, 11, 11); */
}
span {
  color: white;
}
.mat-icon{
  color: white;
}
#new{
  color: white;
}

#searchbar{
  margin-top: 12px;
  width: 30%;
  margin-left: 30%;
  height: 26px;
}
#avatars{
  height: 30px;
  width: 30px;
  position: fixed;
  border-radius: 18px;
   margin-top: 3px; 
  margin-left: -27px;
}

.avatar span{
  margin-left: 20px;
}

.home-gradient{
  background-color: white;
}

a{
  color: black;
}

mat-card-content{
  margin-bottom: 0;
}

mat-card-actions{
  overflow: hidden;
}

mat-card-actions button{
  float: right;
}
